{{{__header}}}

<body>
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <a href="index" class="logo d-flex align-items-center">
                <img src="../public/img/NTI_logo.png" alt="">
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>
    </header>

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link " href="/">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/employees">
                    <i class="bi bi-person"></i>
                    <span>Employees</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/tickets">
                    <i class="bi bi-card-list"></i>
                    <span>Tickets</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/users">
                    <i class="bi bi-diagram-3"></i>
                    <span>Users</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/reports">
                    <i class="bi bi-files"></i>
                    <span>Reports</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/status">
                    <i class="bi bi-alarm"></i>
                    <span>Statuses</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>Log out</span>
                </a>
            </li>
        </ul>
    </aside>